<!DOCTYPE html>
<html lang="{{ $.Site.Params.languageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    {{ $style := resources.Get "styles/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="https://font.my.id/libs/fira-code/5.2/fira_code.css" crossorigin="anonymous">
</head>
<body>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
</body>
</html>